{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "tabWidth": 2,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "useTabs": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [
        {
            "files": "**/*.html",
            "options": {
                "bracketSameLine": true,
                "singleAttributePerLine": false
            }
        }
    ]
}
